#=========================================================================#
# Project Configuration File - $Revision: NLCS 4.1                        #
#                                                                         #
# Voorbeeld Project configuratie bestand voor NLCS met minimale zoekpaden #
#                                                                         #
# Zelf uit te breiden met extra variabelen en mogelijkheden               #
#                                                                         #
# Richard de Nier 01-03-2011                                              #
#=========================================================================#

_USTN_PROJECTDESCR  = NLCS

#-------------------------------------------------------------------------#
#  Set search paths.                                                      #
#-------------------------------------------------------------------------#

#------   Plaats van standaard tekeningen                           ------#
MS_SEEDFILES          = $(_USTN_PROJECTDATA)seed/

#------   Default Seed                                              ------#
MS_DESIGNSEED = $(_USTN_PROJECTDATA)seed/NLCS-Seed2d.dgn

#------   Plaats van de cell bibliotheken                           ------#
MS_CELL                 < $(_USTN_PROJECTDATA)cell/

#------   Plaats van de cell bibliotheken om nieuwe                 ------#
#------   in weg te schrijven                                       ------#
MS_CELLOUT            = $(_USTN_PROJECTDATA)cell/

#------   Lijst met open staande cell bibliotheken                  ------#
MS_CELLLIST           > $(_USTN_PROJECTDATA)cell/*.cel

#------   Plaats voor cell selector bestanden                       ------#
MS_CELLSELECTORDIR  = $(_USTN_PROJECTDATA)cell/

#------   Plaats waar de Fonts van AutoCAD te vinden zijn           ------#
#------   NODIG OM DE LETTERS IN BEPAALDE LIJNSTIJLEN GOED TE TONEN ------#
MS_DWGFONTPATH          = $(_USTN_PROJECTDATA)DWGFONT/

#------   Plaats waar de Patterns van AutoCAD te vinden zijn        ------#
MS_DWGPATFILE           = $(_USTN_PROJECTDATA)DWGFONT/

#------   Plaats van referencie tekeningen                          ------#
MS_RFDIR                 > $(_USTN_PROJECTDATA)references/

#------   Plaats waar de pentables staan                            ------#
MS_PENTABLE           = $(_USTN_PROJECTDATA)tables/pen/

#------   Plaats waar de plotconfiguratie bestanden staan           ------#
MS_PLOTCFG            = $(_USTN_PROJECTDATA)plotdrv/

#------   Plaats waar de project gebonden MDL routines staan        ------#
MS_MDLAPPS              < $(_USTN_PROJECTDATA)mdlapps/intelnt/

#------   Plaats waar de project gebonden MACRO's staan             ------#
MS_MACRO              > $(_USTN_PROJECTDATA)macros/

#------   Plaats waar de project gebonden VBA routine's staan       ------#
MS_VBASEARCHDIRECTORIES < $(_USTN_PROJECTDATA)vba/

#------   Plaats waar de DGNLIB bibliotheken te vinden zijn         ------#
MS_LEVEL_LIB_DIR            = $(_USTN_PROJECTDATA)DGNLIB/

#------   Gekoppelde DGN libraries met o.a. de lijnstijlen          ------#
MS_DGNLIBLIST           < $(_USTN_PROJECTDATA)DGNLIB/*.dgnlib

#------   Gekoppelde resource libraries met de lijnstijlen          ------#

#######VERWIJDER '#' VOOR MS_SYMBRSRC IN DE VOLGENDE ZIN WANNEER GEBRUIK GEMAAKT WORDT VAN DE RSC BESTANDEN IPV DE DGNLIB BETANDEN VOOR LIJNSTIJLEN#####

#MS_SYMBRSRC   > $(_USTN_PROJECTDATA)symb/*.rsc

#------ Automatisch alle attributen van een level op Bylevel zetten ------#
#MS_LEVEL_AUTO_SYNC_ATTRIBUTE_LIST= OverrideSymbology,OverrideColor,OverrideStyle,OverrideWeight,ByLevelSymbology,ByLevelColor,ByLevelStyle,ByLevelWeight,GlobalDisplay,GlobalFreeze,Lock,Plot
MS_LEVEL_AUTO_SYNC_ATTRIBUTE_LIST= ByLevelSymbology,ByLevelColor,ByLevelStyle,ByLevelWeight,GlobalDisplay,GlobalFreeze,Lock,Plot



#------   Aangepaste breedte van de combobox voor de levels (ivm de lange laagnamen in de NLCS   ------#
MS_LEVEL_PICKER_WIDTH = 400

